* {
    margin: 0;
    padding: 0;
}

body {
    background: #d02a39; /*#af3535 #c56d6d #884949*/
    color: #ded4d4;
    font: 300 16px/22px "Nunito",Arial,sans-serif;
}

.menu {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .5px;
    text-transform: uppercase;
    padding-top: 20px;
}

nav li {
    list-style-type: none;
    display: inline-block;
    margin: 0 10px;
}

nav {
    text-align: right;
}

header {
    padding-bottom: 20px;
}

.portada {
    background: url(../img/portada.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portada-contenido {
    color: black;
    max-width: 800px;
}

.portada-contenido p {
    padding: 20px;
}

.center {
    text-align: center;
} 

.justify {
    text-align: justify;
} 

.btn {
    display: inline-block;
    background: transparent;
    color: #fff;
    text-decoration: none;
    padding: 1em 2em;
    border: 2px solid #2c2b2b;
    border-radius: 5px;
    font-weight: 400;
    letter-spacing: .6px;
    text-transform: uppercase;
    cursor: pointer;
}

.btn:hover {
    background: #2c2b2b;
    color: #fff;
}

h1 {
    font-size: 36px;
}

h3, h4, h5, p {
    margin-bottom: 22px;
}

.contenedor-chico {
  margin: 0 auto;
  width: 50%;
  padding-left: 30px;
  padding-right: 30px;
}

.nosotros, .contacto {
    padding-top: 20px;
    padding-bottom: 44px;
}

.sabores {
    padding-top: 40px;
    padding-bottom: 44px;
}

.nosotros p, .nosotros li {
    line-height: 1.8;
    margin: 0 0 1em;
    text-indent: 40px;
}

.negrita {
    font-weight: bold;
}

footer {
    color: #1e2120;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 20px;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #333;
}

#facebook-logo {
    background: url(../img/facebook-blanco.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
}

#facebook-logo:hover {
    background: url(../img/facebook-gris.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
}

#instagram-logo {
    background: url(../img/instagram-blanco.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
}

#instagram-logo:hover {
    background: url(../img/instagram-gris.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
}

#whatsapp-logo {
    background: url(../img/whatsapp-blanco.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
}

#whatsapp-logo:hover {
    background: url(../img/whatsapp-gris.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
}

.titulo {
    background: url(../img/fondo-helado1.png);
    padding: 90px 0 90px 90px;
    color: #ffd8d0;
    text-align: left;
}

.titulo h1 {
    margin-bottom: 20px;
}

.titulo p {
    margin-bottom: 0px;
}

.contacto {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.comentarios {
    display: flex;
    font-size: 1.125rem;
    width: 100%;
}

input,
button,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-size: 1.125rem;
}

form {
    padding: 1rem 3rem;
    border-radius: 0.25rem;
    border: solid;
    border-color: #ffd8d0;
    box-shadow: 10px 10px 20px rgb(0 0 0 / 50%);
}

label {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    color: white;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .5px;
    text-transform: uppercase;
    padding-top: 20px;
}

.sabor-izq-der {
    display: flex;
    align-items: center;
    padding: 20px;
    border: 2px solid #ffd8d0;
}

.sabor-der-izq {
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    align-items: center;
    background: #ffd8d0;
    padding: 20px;
}

.sabores img {
    width: 200px;
    border-radius: 50%;
    box-shadow: 20px 20px 20px rgba(0,0,0,.5);
    background: #0d0e0a;}

.sabores p {
    padding-left: 20px;
    padding-right: 20px;
    color: #3e3535;
    font-family: "Satisfy";
    font-style: italic;
    text-shadow: -1px 0 #e1e1e1, 0 1px #e1e1e1, 1px 0 #e1e1e1, 0 -1px #e1e1e1;
    font-size: 30px;
    font-weight: 600;
}
