* {
    margin: 0;
    padding: 0;
}

body {
    background: #d02a39; /*#af3535 #c56d6d #884949*/
    color: #ded4d4;
    font: 300 16px/22px "Nunito",Arial,sans-serif;
}

.menu {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .5px;
    text-transform: uppercase;
    padding-top: 20px;
}

nav {
    text-align: right;
}

nav li {
display: inline-block;
margin: 0 10px;
vertical-align: top;
}

nav li:last-child {
margin-right: 0;
}

.portada {
    background: url(../img/portada.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.portada-contenido {
    color: black;
    max-width: 800px;
}

.portada-contenido p {
    padding: 20px;
}

.center {
    text-align: center;
} 

.justify {
    text-align: justify;
} 

.btn {
    display: inline-block;
    background: #333;
    color: #fff;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid #666;
    border-radius: 5px;
    font-weight: 400;
    letter-spacing: .5px;
    text-transform: uppercase;
}

.btn:hover {
    background: #000;
    color: #fff;
}

h1 {
    font-size: 36px;
}

h3, h4, h5, p {
    margin-bottom: 22px;
}

.contenedor-chico {
  margin: 0 auto;
  width: 50%;
  padding-left: 30px;
  padding-right: 30px;
}

.nosotros p, .nosotros li {
    line-height: 1.8;
    margin: 0 0 1em;
    text-indent: 40px;
}

.negrita {
    font-weight: bold;
}

footer {
    color: #1e2120;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 44px;
    padding-top: 44px;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #333;
}

#facebook-logo {
    background: url(../img/facebook-blanco.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
}

#facebook-logo:hover {
    background: url(../img/facebook-gris.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
}

#instagram-logo {
    background: url(../img/instagram-blanco.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
}

#instagram-logo:hover {
    background: url(../img/instagram-gris.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
}

label {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
}
  
input,
button,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
  
button {
    border: none;
}

form {
    background: var(--color-darkblue-alpha);
    padding: 2.5rem 0.625rem;
    border-radius: 0.25rem;
}

.form-group {
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
  }
  
.form-control {
    display: block;
    width: 100%;
    height: 2.375rem;
    padding: 0.375rem 0.75rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
  
.form-control:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
  
.input-radio,
.input-checkbox {
    display: inline-block;
    margin-right: 0.625rem;
    min-height: 1.25rem;
    min-width: 1.25rem;
}
  
.input-textarea {
    min-height: 120px;
    width: 100%;
    padding: 0.625rem;
    resize: vertical;
}
  
.submit-button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    background: var(--color-green);
    color: inherit;
    border-radius: 2px;
    cursor: pointer;
}

.titulo {
    min-width: 960px;
    background: #5f5f5f;
    padding: 44px 0 22px 0;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ffd8d0;
    text-align: center;
}