* {
    margin: 0;
    padding: 0;
}

body {
    background: #d02a39; /*#af3535 #c56d6d #884949*/
    color: #ded4d4;
    font: 300 16px/22px "Nunito",Arial,sans-serif;
}

.menu {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .5px;
    text-transform: uppercase;
    padding-top: 20px;
}

nav {
    text-align: right;
}

nav li {
display: inline-block;
margin: 0 10px;
vertical-align: top;
}

nav li:last-child {
margin-right: 0;
}

.portada {
    background: url(../img/portada.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.portada-contenido {
    color: black;
    max-width: 800px;
}

.portada-contenido p {
    padding: 20px;
}

.center {
    text-align: center;
} 

.justify {
    text-align: justify;
} 

.btn {
    display: inline-block;
    background: #333;
    color: #fff;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid #666;
    border-radius: 5px;
    font-weight: 400;
    letter-spacing: .5px;
    text-transform: uppercase;
}

h1 {
    font-size: 36px;
}

h3, h4, h5, p {
    margin-bottom: 22px;
}

.contenedor-chico {
  margin: 0 auto;
  width: 50%;
  padding-left: 30px;
  padding-right: 30px;
}

.nosotros p, .nosotros li {
    line-height: 1.8;
    margin: 0 0 1em;
    text-indent: 40px;
}

.negrita {
    font-weight: bold;
}

footer {
    color: #1e2120;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 44px;
    padding-top: 44px;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #333;
}

#facebook-logo {
    background: url(../img/facebook-blanco.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
}

#facebook-logo:hover {
    background: url(../img/facebook-gris.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
}

#instagram-logo {
    background: url(../img/instagram-blanco.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
}

#instagram-logo:hover {
    background: url(../img/instagram-gris.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
}